@import 'utils/variables';

.popup{
   position: relative;
   z-index: 222222;

   .popup-container{
      padding:20px;
      width: 180px;
      border-radius: 4px;
      border: 1px solid rgba(84, 95, 125, 0.04);
      background: #FFF;
      box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
      position: absolute;
      top: 0;
      z-index: 9999999;
   }
}