@import 'utils/variables';
@import 'utils/mixins';


.table{
    width: 100%;
   
    
    .table-header{
        @include flexbox(center);
        width: 100%;
        margin-bottom: 15px;
        // gap:25px;

        .th{
            flex: 1 0;
            color: $textColor;
            font-family: $workSansFont;
            font-size: 0.857rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            position: relative;
            // align-self: flex-start;
                overflow-wrap: break-word;
                overflow: auto;
                text-wrap: wrap;
           

            .th-inner{
                @include flexbox(center);
                gap:10px;
            }

            .filter{
                width: 270px;
                position: absolute;
                left: 0;
                top: 15px;
                z-index: 22;
            }
        }
    }

    .tbody{
        width: 100%;
        

        & .trow:not(:last-child){
            border-bottom:1px solid rgba(33, 63, 125, 0.10);
        }

        .trow{
            @include flexbox(center);
            height: 61px;
            width: 100%;
        //    gap:25px;

            .tdata{
                height: 100%;
                flex: 1 0;
                font-family: $workSansFont;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                // align-self: flex-start;
                @include flexbox(center);
                overflow-wrap: break-word;
                overflow: auto;
                text-wrap: wrap;
            }
        }
    }
}
