@import 'utils/variables';
@import 'utils/mixins';


.table{
    width: 100%;
    
    .table-header{
        @include flexbox(center);
        width: 100%;
        margin-bottom: 15px;
        gap:35px;
        
        .th{
            flex: 1;
            color: $textColor;
            font-family: $workSansFont;
            font-size: 0.857rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            @include flexbox(center);
            gap:8px;
            position: relative;

            .filter{
                width: 270px;
                position: absolute;
                left: 0;
                top: 15px;
                z-index: 22;
            }
        }
    }

    .tbody{

        & .trow:not(:last-child){
            border-bottom:1px solid rgba(33, 63, 125, 0.10);
        }

        .trow{
            @include flexbox(center);
            height: 61px;
            gap:35px;


            .tdata{
                @include flexbox(center);
                height: 100%;
                flex:1;
                font-family: $workSansFont;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                &.ellipsis{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
