@import 'utils/variables';



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 14px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  width: 100vw;
  overflow-x: hidden;
  color: $textColor;
  font-family: $workSansFont;
}


a {
  color: inherit;
  text-decoration: none;
}

img{
  image-rendering: high-quality;
}

.tbl-enter {
  opacity: 0;
  transform: scale(0.9);
}
.tbl-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.tbl-exit {
  opacity: 1;
}
.tbl-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
