@import 'utils/variables';


.login-form-container{
    margin-top: 60px;

   
        a{
            color:$primaryColor;
            letter-spacing: 1.2px;
            font-weight: 600;
            font-family: $avenirFont;
        }

        button{
            font-family: $avenirFont;
            letter-spacing: 1.4px;
            font-weight: 600;
        }
    }
