

// colors

$primaryColor: #39CDCC;
$secondaryColor: #213F7D;
$textColor: #545F7D;
$pinkColor:#DF18FF;
$purpleColor:#5718FF;
$orangeColor:#F55F44;
$redColor: #F36;


// fonts
$robotoFont: 'Roboto', sans-serif;
$workSansFont: 'Work Sans', sans-serif;
$avenirFont: 'Avenir', sans-serif;
$sfCompactTextFont:'SF Compact Text', sans-serif;
                                                