@import 'utils/variables';

.filter-button-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:30px;
    // margin-bottom: 28px;
}

.table-popup-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:20px;

    .popup-list{
        display: flex;
        font-family: $workSansFont;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        gap: 8px;
        align-items: center;
        cursor: pointer;
      }
}